@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #fff;
  padding: 10px 20px;
  border-bottom: 3px solid #f9fafb;
  top: 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.header-icon {
  display: flex;
}

.content {
  padding-top: 60px;
}

/* sidebar */
.sidebar {
  background-color: white;
  width: 200px;
  margin-top: 2px solid white;
  border-right: 2px solid white;
  height: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}
.sidebar ul li:hover {
  background-color: #edfafa;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 13px;
}
.sidebar li a {
  padding: 7px;
  text-decoration: none;
  color: #5a9285;
  margin-left: 10px;
  cursor: pointer;
}

.layout {
  display: flex;
  align-items: start;
  background-color: #f9fafb;
  gap: 1rem;
}

/* end sidebar */
.content {
  padding-top: 60px;
  flex: 1 1 0%;
}

.container {
  background-color: #f9fafb;
}

main {
}

.table-text {
  display: flex;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 15px;
}

table {
  border-collapse: collapse;

  margin-top: 20px;
}
th,
td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
  border-radius: 3px;
  border: none;
  padding: 15px;
}

.table-container {
  margin-right: 15px;
  background-color: white;
  margin-top: 30px;
  padding: 20px;
}

/* searchbar */

.input-group input {
  padding: 9px 9px 9px 15px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #d9d9d9;
  background: #fff;
}

.input-group {
  position: relative;
  background-color: #f9fafb;
}
.input-group .icon-last {
  position: absolute;
  top: 10px;
  right: 1.4rem;
  font-size: 13px;
  background-color: #c27803;
}

.search-input {
  border: 1px solid #f1f3f4;
  width: 15rem;
  padding: 8px;
  border-right: none;
  background-color: #f9fafb;
}
.search-btn {
  border: 1px solid #f1f3f4;
  border-left: none;
  padding: 10px;
  background-color: #c27803;
}

.hidden {
    display: none;
}
